@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font1;
  --font1: font1;
  src: url("../../public/fonts/tinvwl-webfont.woff2");
}

@layer base {
  *,
  *::after,
  *::before {
    @apply m-0 p-0;
  }
  body {
    @apply text-gray-800;
  }
  p,
  span,
  button {
    @apply font-poppins;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .border-red {
    @apply border-2 border-red-500;
  }
  .container-box {
    @apply max-w-7xl mx-auto px-10 2xl:px-0;
  }
  .section-title {
    @apply md:text-6xl font-bold text-4xl;
  }
}
